<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

<form method="post" action="form_submit" enctype="multipart/form-data">

	<div class="md-col-4 md-col-offset-2">
		<input type='file' name='fileUploaded'>
		<input class="btn btn-primary" type="submit">
	</div>
</form>
