<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

<style>

body{
	background-image: url('http://wallpapercave.com/wp/2MSymzZ.jpg')	
}

	</style>

<a href="/resetUserVotes"><button class="btn btn-primary">Reset my votes</button></a>
<hr />

<% for(var i=0; i<theStandings.length; i++){ %>
		<%= theStandings[i].totalVotes; %>
		<img src="/images/<%= theStandings[i].imgSrc; %>" width="300px;">
		<hr />
<% } %>

